<ng-container *ngIf="user | async; else login">

    <div class="notification is-success">
        We did it Reddit!
    </div>

    <button (click)="logout()" class="button">Sign out</button>

</ng-container>

<ng-template #login>
    <label for="email" class="label">Passwordless Auth</label>
    <br>
    Please enter your email address: <input type="email" class="input" [(ngModel)]="email">

    <hr>

    <button class="button is-primary" [disabled]="emailSent" (click)="sendEmailLink(email)">Get Login Link</button>

    <hr>

    <div *ngIf="emailSent" class="notification is-info">
        Email sent
    </div>

    <div *ngIf="errorMessage" class="notification is-danger">
        {{ errorMessage }}
    </div>

</ng-template>